/* Define global variables for the colors */
:root {
  --green1: #DBE6DE;
  --purple1: #EEE8E9;
  --green2: #ABC4B2;
  --purple2: #CBB9BC;
  --green3: #5C8466;
  --purple3: #815F68;
}
/* Style the entire page */
*
{
  margin: 0px;
  padding: 0px;
  font-family: AmericanTypewriter, Courier, ComicSansMS;
}
/* Style hidden elements */
.hidden
{
  display: none;
}
/* Style the area for the title */
#titleContainer
{
  background-color: var(--green1);
  border: 5px solid;
  border-color: var(--purple3);
}
/* Style the title text */
#title
{
  color: var(--purple3);
  font-weight: 15;
  font-size: 50px;
  padding: 35px;
  text-align: center;
}
/* Style the subtitle text */
.subtitle
{
  color: var(--green3);
  font-weight: 10;
  font-size: 15px;
  padding: 20px;
  padding-top: 0px;
  text-align: center;
}
/* Style the area for the rules and parameters*/
.rpContainer
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: var(--purple1);
  border: 5px solid;
  border-color: var(--green3);
}
/* Style the area for the parameters*/
#parametersContainer
{
  flex-wrap: wrap;
}
/* Style the button to show the rules and parameters*/
.rpButton
{
  height: 50px;
  background-color: var(--green1);
  color: var(--purple3);
  font-weight: 10;
  font-size: 20px;
  padding: 10px;
  border: 2px solid;
  border-radius: 20%;
  border-color: var(--green3);
  margin: 10px;
  white-space: nowrap;
}
/* Style the button to show the rules and parameters when hovered*/
.rpButton:hover
{
  background-color: var(--green2);
  transition-duration: 0.5s;
}
/* Style the rules and parameters text */
.rpText
{
  color: var(--purple3);
  font-weight: 10;
  font-size: 15px;
  padding: 10px;
}
/* Style the centered rules and parameters text */
.rpText2
{
  color: var(--green3);
  font-weight: 10;
  font-size: 15px;
  padding: 10px;
  text-align: center;
}
/* Style the smaller rules and parameters text */
.rpText3
{
  color: var(--green3);
  font-weight: 10;
  font-size: 10px;
  padding: 10px;
  text-align: center;
}
/* Style the text for the sliders */
.sliderValue
{
  color: var(--purple3);
  font-weight: 10;
  font-size: 15px;
  padding: 10px;
  padding-bottom: 0px;
  text-align: center;
}
/* Style the area of the sliders */
#sliderContainer
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--purple1);
}
/* Style the area of each column in the slider container */
.sliderColumn
{
  width: 15%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  display: flex;
  flex-direction: column;
  background-color: var(--purple1);
}
/* Style the sliders */
input[type="range"]
{
  -webkit-appearance: none;
  appearance: none; 
  width: 100%;
  cursor: pointer;
  outline: none;
  height: 15px;
  background: var(--purple2);
  overflow: hidden;
  border-radius: 20%;
}
input[type="range"]::-webkit-slider-thumb
{
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 35%;
  border: none;
  background-color: var(--purple3);
  box-shadow: -407px 0 0 400px var(--green2);
}
/* Style the area of the checkboxes */
#checkboxContainer
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--purple1);
}
/* Style the area of each column in the checkbox container */
.checkboxColumn
{
  width: 35%;
  padding-left: 7.5%;
  padding-right: 7.5%;
  display: flex;
  flex-direction: column;
  background-color: var(--purple1);
  align-items: center;
}
/* Style the checkboxes */
.checkboxContainer
{
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}
.checkboxContainer input
{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark
{
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  margin-inline-start: -10px;
  background-color: var(--purple2);
  border-radius: 25%;
}
.checkboxContainer input:checked ~ .checkmark
{
  background-color: var(--purple3);
}
.checkmark:after
{
  content: "";
  position: absolute;
  display: none;
}
.checkboxContainer input:checked ~ .checkmark:after
{
  display: block;
}
.checkboxContainer .checkmark:after
{
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid var(--green2);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
/* Style the area for the game */
#gameContainer
{
  background-color: var(--green1);
  border: 5px solid;
  border-color: var(--purple3);
}
/* Style the button for starting the game */
#gameButton
{
  background-color: var(--purple1);
  color: var(--green3);
  font-weight: 10;
  font-size: 20px;
  padding: 10px;
  border: 2px solid;
  border-radius: 20%;
  border-color: var(--purple3);
  margin: 10px;
  white-space: nowrap;
  width: fit-content;
  height: 25px;
}
/* Style the button for starting the game when hovered*/
#gameButton:hover
{
  background-color: var(--purple2);
  transition-duration: 0.5s;
}
/* Style the game board */
#gameBoard
{
  background-color: var(--purple2);
  margin: 25px;
  border-radius: 2%;
}
.tile
{
  height: 100px;
  width: 100px;
  border-radius: 5%;
  color: #5D3B14;
  text-align: center;
  font-size: 80px;
  vertical-align: middle;
}
.break
{
  height: 20px;
}
